* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-01: rgb(29, 29, 29);
  --bg-color-02: rgb(34, 26, 22);
  --color-01: rgb(201, 164, 3);
  --color-02: rgb(194, 119, 33);
  --color-03: rgb(56, 56, 56);
  --color-04: rgb(82, 82, 82);
  --color-05: rgb(0, 0, 0);
  --gryf-bg-color: #740001;
  --gryf-color: #eeba30;
  --slyt-bg-color: #aaaaaa;
  --slyt-color: #1a472a;
  --rave-bg-color: #222f5b;
  --rave-color: #ae7114;
  --huff-bg-color: #60605c;
  --huff-color: #ffdb00;

  /* fonts */
  --font-01: baroque-text-jf, sans-serif;
  --font-02: garamond-premier-pro, serif;
}

body {
  background-color: var(--bg-color-01);
  font-family: var(--font-02);
  color: var(--color-01);
  margin: 2rem;
}

header {
  /* display: flex;
  align-items: center; */
  margin-bottom: 1rem;
  background-color: var(--bg-color-02);
  padding: 2rem;
}

h1 {
  text-align: center;
  color: var(--color-01);
  font-family: var(--font-01);
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-01);
}

section.selectors {
  display: flex;
  margin-top: 1rem;
}

div.filterSelector,
div.sortSelector {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

select#filter {
  /* width: 10rem; */
}

section.studentList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 3rem 1rem;
  margin-top: 2rem;
}

article.student {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-02);
  background-color: var(--color-03);
  height: 250px;
}

div.imgWrapper {
  margin: 1rem;
  height: 108px;
  width: 114px;
}

.img {
  border-radius: 22%;
  color: var(--color-04);
  text-align: center;
}

div.name {
  margin: 1rem;
}

div.honours {
  display: flex;
}

div.honours > div:first-child {
  margin-right: 0.5rem;
}

article#studentCard {
  position: absolute;
  top: 20%;
  left: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-style: outset;
  border-width: 1rem;
  border-radius: 0.5rem;
  width: 19rem;
  height: 24rem;
  color: var(--color-05);
}

article#studentCard.gryffindor {
  background-color: var(--gryf-bg-color);
  color: var(--gryf-color);
  border-color: var(--gryf-color);
}

article#studentCard.slytherin {
  background-color: var(--slyt-bg-color);
  color: var(--slyt-color);
  border-color: var(--slyt-color);
}

article#studentCard.ravenclaw {
  background-color: var(--rave-bg-color);
  color: var(--rave-color);
  border-color: var(--rave-color);
}

article#studentCard.hufflepuff {
  background-color: var(--huff-bg-color);
  color: var(--huff-color);
  border-color: var(--huff-color);
}

.info {
  /* width: 16rem; */
}
.info ul {
  list-style: none;
}

.appointPrefect,
.appointInquisitor {
  display: flex;
  justify-content: space-between;
}

.appointBtn {
  border: none;
  cursor: pointer;
  background: none;
}

/* article.studentCard.slytherin {
  background-color: ;
} */

.expelAnimation {
  animation: expel 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

button.closeStudentCard {
  align-self: flex-end;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
}

/* animations */

@keyframes expel {
  0% {
    opacity: 100%;
    filter: grayscale(0%);
  }
  100% {
    opacity: 0%;
    filter: grayscale(100%);
  }
}

/* media-queries */

@media screen and (max-width: 420px) {
  section.studentList {
    margin: 2rem 2rem 0 2rem;
  }
}
