* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-01: rgb(29, 29, 29);
  --bg-color-02: rgb(34, 26, 22);
  --color-01: #c9a403;
  --color-02: rgb(194, 119, 33);
  --color-03: rgb(41, 41, 41);
  --color-04: rgb(82, 82, 82);
  --color-05: rgb(0, 0, 0);
  --color-link: rgb(134, 134, 134);
  --inquisitor-shadow: #34ebc3;
  --inquisitor-remove-shadow: #6a0dff;
  --prefect-border: #ffe15d;
  --color-expel: rgb(92, 11, 0);
  --gryf-bg-color: #740001;
  --gryf-color: #eeba30;
  --slyt-bg-color: #aaaaaa;
  --slyt-color: #1a472a;
  --rave-bg-color: #222f5b;
  --rave-color: #ae7114;
  --huff-bg-color: #60605c;
  --huff-color: #ffdb00;

  /* fonts */
  --font-01: baroque-text-jf, sans-serif;
  --font-02: garamond-premier-pro, serif;
}

body {
  background-color: var(--bg-color-01);
  font-family: var(--font-02);
  color: var(--color-01);
  margin: 2rem;
}

header {
  margin-bottom: 1rem;
  padding: 2rem;
}

h1 {
  text-align: center;
  color: var(--color-01);
  font-family: var(--font-01);
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-01);
  font-family: var(--font-02);
}

button:hover {
  color: white;
}

section.selectors {
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
}

div.filterSelector,
div.sortSelector,
div.search {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

section.studentList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 3rem 1rem;
  margin-top: 2rem;
}

div.studentWrapper {
  margin: 0 auto;
}

article.student {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-02);
  background-color: var(--color-03);
  padding: 1rem;
  width: 190px;
  /* height: 260px;
  width: 190px; */
}

.img {
  border-radius: 22%;
  color: var(--color-04);
  text-align: center;
  height: 113px;
  width: 107px;
}

div.name {
  margin: 1rem;
}

img#arrows {
  height: 1.2rem;
  margin-left: 0.3rem;
}

div#sortByAndDir {
  display: flex;
}

/* div.honours {
  display: flex;
} */

.appointPrefect,
.appointInquisitor {
  display: flex;
  justify-content: space-between;
}

[data-field="prefect"],
[data-field="inquisitor"] {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0.3rem;
}

[data-field="prefect"][data-prefect="false"],
[data-field="inquisitor"][data-inquisitor="false"] {
  filter: grayscale(1);
  opacity: 40%;
}

button.expelBtn,
button.openStudentCard {
  background: var(--color-04);
  /* border-radius: 0.7rem; */
  padding: 4px;
}

button.openStudentCard {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

button.openStudentCard:hover {
  color: white;
  background-color: var(--color-02);
}

button.expelBtn:hover {
  color: white;
  background-color: var(--color-expel);
}

.faded {
  filter: grayscale(1);
}

.rotate {
  transform: rotate(180deg);
}

/* Dialog boxes */

article.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-02);
  padding: 2rem;
}

.closeBtn {
  align-self: flex-end;
  filter: invert(66%) sepia(49%) saturate(1678%) hue-rotate(11deg) brightness(89%) contrast(106%);
}

/* makes button white */
.closeBtn:hover {
  filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(3deg) brightness(105%) contrast(105%);
}

article.dialog p.option {
  margin: 1rem auto 0;
}

/* studentCard */

button.openStudentCard {
  cursor: pointer;
}

article#studentCard {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-style: outset;
  border-width: 1rem;
  border-radius: 0.5rem;
  width: 18rem;
  height: 21.5rem;
  color: var(--color-05);
}

.closeBtn {
  height: 1.2rem;
}

div.crest {
  width: 8rem;
  height: 9.65rem;
  position: absolute;
  right: 9rem;
  top: -1rem;
  background-size: 100%;
}

#studentCard .img {
  z-index: 2;
  position: relative;
}

article#studentCard.gryffindor {
  background-color: var(--gryf-bg-color);
  color: var(--gryf-color);
  border-color: var(--gryf-color);
}

article#studentCard.gryffindor div.crest {
  background-image: url(https://filipsoudakov.dk/kea/3rd-semester/11c_coding_visual_design/assignments/hacked_hogwarts_student_list/assets/graphics/gryffindor_crest.svg);
}

article#studentCard.gryffindor .icon,
article#studentCard.gryffindor .stroke,
article#studentCard.gryffindor .closeBtn {
  filter: invert(78%) sepia(95%) saturate(779%) hue-rotate(330deg) brightness(96%) contrast(95%);
}

article#studentCard.slytherin {
  background-color: var(--slyt-bg-color);
  color: var(--slyt-color);
  border-color: var(--slyt-color);
}

article#studentCard.slytherin div.crest {
  background-image: url(https://filipsoudakov.dk/kea/3rd-semester/11c_coding_visual_design/assignments/hacked_hogwarts_student_list/assets/graphics/slytherin_crest.svg);
}

article#studentCard.slytherin .icon,
article#studentCard.slytherin .stroke,
article#studentCard.slytherin .closeBtn {
  filter: invert(22%) sepia(45%) saturate(528%) hue-rotate(89deg) brightness(94%) contrast(97%);
}

article#studentCard.ravenclaw {
  background-color: var(--rave-bg-color);
  color: var(--rave-color);
  border-color: var(--rave-color);
}

article#studentCard.ravenclaw div.crest {
  background-image: url(https://filipsoudakov.dk/kea/3rd-semester/11c_coding_visual_design/assignments/hacked_hogwarts_student_list/assets/graphics/ravenclaw_crest.svg);
}

article#studentCard.ravenclaw .icon,
article#studentCard.ravenclaw .stroke,
article#studentCard.ravenclaw .closeBtn {
  filter: invert(44%) sepia(45%) saturate(874%) hue-rotate(357deg) brightness(96%) contrast(86%);
}

article#studentCard.hufflepuff {
  background-color: var(--huff-bg-color);
  color: var(--huff-color);
  border-color: var(--huff-color);
}

article#studentCard.hufflepuff div.crest {
  background-image: url(https://filipsoudakov.dk/kea/3rd-semester/11c_coding_visual_design/assignments/hacked_hogwarts_student_list/assets/graphics/hufflepuff_crest.svg);
}

article#studentCard.hufflepuff .icon,
article#studentCard.hufflepuff .stroke,
article#studentCard.hufflepuff .closeBtn {
  filter: invert(85%) sepia(54%) saturate(2024%) hue-rotate(355deg) brightness(98%) contrast(107%);
}

article#studentCard.gryffindor .closeBtn:hover,
article#studentCard.slytherin .closeBtn:hover,
article#studentCard.hufflepuff .closeBtn:hover,
article#studentCard.ravenclaw .closeBtn:hover {
  filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(3deg) brightness(105%) contrast(105%);
}

div.stroke {
  margin: 1rem 0 1rem 0;
  align-self: center;
  height: 1px;
  width: 6rem;
  background-color: black;
}

ul.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#houseIcon,
#bloodIcon {
  height: 1.5rem;
  margin-right: 1rem;
}

ul.info li {
  display: flex;
  margin-bottom: 0.5rem;
}

ul.info li span {
  align-self: center;
}

button.closeStudentCard,
button.closeDialog {
  align-self: flex-end;
}

.hidden {
  visibility: hidden;
}

article#noResults {
  margin: 5rem 0 5rem 0;
  text-align: center;
}

footer {
  margin-top: 4rem;
  color: var(--color-04);
  font-size: 0.9rem;
  text-align: center;
}

footer section {
  margin: 1rem 0 1rem 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

/* animations */

.expelAnimation {
  animation: expel 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes expel {
  0% {
    opacity: 100%;
    filter: grayscale(0%);
  }
  100% {
    opacity: 0%;
    filter: grayscale(100%);
  }
}

.shakeAnimation {
  animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: 1;
  /* backface-visibility: hidden;
  perspective: 1000px; */
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-7px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}

.inquisitorShadow {
  box-shadow: 0px 5px 16px 4px var(--inquisitor-shadow);
}

.hackedInquisitorAnimation {
  animation: changeShadow 2s linear;
  animation-fill-mode: forwards;
}

@keyframes changeShadow {
  0% {
    box-shadow: 0px 5px 16px 4px var(--inquisitor-shadow);
  }
  98% {
    box-shadow: 0px 5px 16px 20px var(--inquisitor-remove-shadow);
  }
  100% {
    box-shadow: 0px 0px 0px 0px var(--inquisitor-remove-shadow);
  }
}

.addInquisitorShadow {
  animation: shadow 0.2s linear;
  animation-fill-mode: forwards;
}

@keyframes shadow {
  100% {
    box-shadow: 0px 5px 16px 4px var(--inquisitor-shadow);
  }
}

.prefectBorder {
  outline: solid 3px var(--prefect-border);
}

.addPrefectBorder {
  animation: outline 0.2s linear;
  animation-fill-mode: forwards;
}

@keyframes outline {
  100% {
    outline: solid 3px var(--prefect-border);
  }
}

/* media-queries */

@media screen and (max-width: 420px) {
  section.studentList {
    margin: 2rem 2rem 0 2rem;
  }
}
